
L4/.idea/L4.iml
L4/.idea/encodings.xml
L4/.idea/modules.xml
L4/.idea/workspace.xml
L4/__pycache__/L1E82.cpython-36.pyc
L4/.idea/misc.xml
L4/.idea/workspace.xml___jb_tmp___
L4/E9/__pycache__/L1E9.cpython-36.pyc
L6/lab2_borrador.txt
L6/.idea/encodings.xml
L6/.idea/L6.iml
L6/.idea/misc.xml
L6/.idea/modules.xml
L6/.idea/vcs.xml
L6/.idea/workspace.xml
L6/.idea/vcs.xml
L6/ejemplo.py
L6/StrtoInt.py
L6/heart-disease-uci.zip
L6/ClassExmpl.py
L6/[]
L6/__pycache__/SortData.cpython-36.pyc
L6/[]
L6/__pycache__/SortData.cpython-36.pyc
L6/ejemplo2.py
L6/ejemplo2.py
ignorar/ClassExmpl.py
ignorar/ejemplo.py
ignorar/ejemplo2.py
ignorar/heapout.csv
ignorar/heapSortExample.py
ignorar/heart-disease-uci.zip
ignorar/outMergeSort.csv
ignorar/quickSortExample.py
ignorar/StrtoInt.py
L6/ignorar/ClassExmpl.py
L6/ignorar/ejemplo.py
L6/ignorar/ejemplo2.py
L6/ignorar/heapout.csv
L6/ignorar/heapSortExample.py
L6/ignorar/heart-disease-uci.zip
L6/ignorar/outMergeSort.csv
L6/ignorar/quickSortExample.py
L6/ignorar/StrtoInt.py
